/* Avenir Next Pro*/
@font-face{
  font-family: 'AvenirNextPro-Regular';
  src:font-url('AvenirNext/AvenirNextLTPro-Regular.otf');
}

/* Avenir */
@font-face {
  font-family: 'Avenir-Medium';
  src:font-url('Avenir/AvenirLTStd-Medium.otf');
}

@font-face {
  font-family: 'Avenir-Light';
  src:font-url('Avenir/AvenirLTStd-Light.otf');
}

@font-face {
  font-family: 'Avenir-Heavy';
  src:font-url('Avenir/AvenirLTStd-Heavy.otf');
}

@font-face {
  font-family: 'Avenir-BookOblique';
  src:font-url('Avenir/AvenirLTStd-BookOblique.otf');
}

@font-face {
  font-family: 'Avenir-Book';
  src:font-url('Avenir/AvenirLTStd-Book.otf');
}

@font-face {
  font-family: 'Avenir-Black';
  src:font-url('Avenir/AvenirLTStd-Black.otf');
}

/* Circular */
@font-face{
  font-family: 'Circular-Bold';
  src:font-url('Circular/CircularStd-Bold.otf');
}

@font-face{
  font-family: 'Circular-Book';
  src:font-url('Circular/CircularStd-Book.otf');
}

@font-face{
  font-family: 'Circular-Medium';
  src:font-url('Circular/CircularStd-Medium.otf');
}
